<h1><%= @product.title %></h1>

<p><%= @product.description %></p>
<h4>Created by: <%= @product.user.full_name  || 'DELETED'%></h4>


<p>$<%= sprintf('%.2f', @product.price) %></p>

<%= link_to 'Edit', edit_product_path(@product) %>
<%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"} %>

<section>
<h1>Reviews</h1>
<%= form_with(model: [@product, @review], local: true) do |f| %>

    <% if @review.errors.present? %>
    <p class="form-errors">
    <%= @review.errors.full_messages.join(", ") %>
    </p>
    <% end %>

    <div class="form-group">
    <%= f.text_area(
        :body,
        cols: 50,
        rows:5,
        placeholder: "Leave a review!",
        class: "form-control"
    )%>

    <%= f.select(
        :rating, options_for_select([5, 4, 3, 2, 1])
    )%>

    </div>
    <%= f.submit %>

    <% end %>

    <hr>
    <ul class="review-list">
            <% @reviews.each do |review| %>
                <li>
                    <p>
                    <hr>
                    
                    <%= review.rating %>/5 <small>by <%= review.user.full_name  || 'DELETED'%></small>
                    <br> <br>
                    &emsp; <%= review.body %> <br>
                    <small>
                    <%=
                    link_to("Delete", product_review_path(@product, review), method: :delete, data: {
                        confirm: "Are you sure?"
                    })
                    %>
                    </small>
                    <hr>
                    </p>
                </li>
                <% end %>

    </ul>